<!DOCTYPE html>
<html>
<head>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
		<meta name="description" content="">
		<meta name="author" content="">

		<title>GenerateData</title>

		<!-- Bootstrap core CSS -->
		<link href="/static/bootstrap/css/bootstrap.css" rel="stylesheet">

		<!-- Custom styles for this template -->
		<link href="/static/css/admin.css" rel="stylesheet">

		<link rel="stylesheet" href="/static/plugins/font-awesome/css/font-awesome.min.css" />

		<link rel="stylesheet" href="/static/plugins/codemirror/codemirror/lib/codemirror.css">
		<script src="/static/plugins/codemirror/codemirror/lib/codemirror.js"></script>
		<style type="text/css">
		      .CodeMirror {border-top: 1px solid black; border-bottom: 1px solid black;}
		    </style>
</head>
	<body>
		{% block content %} {% endblock %}
	</body>


	  <!-- Bootstrap core JavaScript ================================================== -->
	  <script src="/static/js/jquery.js"></script>
	  <script src="/static/bootstrap/js/bootstrap.min.js"></script>
	  <script src="/static/js/dashboard.js"></script>

	  <script src="/static/plugins/jquery-validation/jquery.validate.min.js"></script>
</html>
