body {
  /*min-height: 75rem;*/
}

.enregistrer{
	cursor: pointer;
}

.container {
    padding-right: 50px;
    padding-left: 50px;
}

.contry{
	margin-top:20px;
}

.row{
	margin-top:5px;
}

tr,th{
	text-align: center;
}

.td-title{
	width: 300px;
}

.table-data{
	margin-bottom: 30px;
}

.nav-tabs-custom>.nav-tabs.pull-right>li {
    float: right;
}

.nav-tabs-custom>.nav-tabs>li.active {
    border-top-color: #3c8dbc;
}

footer{
	padding: 30px 0px 30px 0px;
}
